%h2 Users

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Email
      %th Role
      %th Registered
      %th{:width => '150'} Actions

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.email
        %td= user.roles.first.name.titleize unless user.roles.first.nil?
        %td= user.created_at.to_date
        %td{:nowrap => 'nowrap'}
          = link_to "Show", user_path(user)
          - if can? :update, User
            |
            %a{"data-toggle" => "modal", :href => "#role-options-#{user.id}", :type => "button"} Change Role
            = render user

          - if can?(:destroy, User) && user != current_user
            |
            = link_to("Delete", user_path(user),
            :data => { :confirm => "Are you sure, you want to delete the user?" },
            :method => :delete) unless user == current_user