!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : "Rails3 Bootstrap Devise Cancan"}"}

    %title= content_for?(:title) ? yield(:title) : "Rails Starter App"

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    = csrf_meta_tags
    = yield(:head)

  %body{:class => "#{controller_name} #{action_name}"}
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = render 'layouts/navigation'

    #main-content.container
      .content
        .row
          = render "shared/flash_messages"
          = yield

          %footer.footer
            %p

    = yield :javascript